@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans");
* {
    font-family: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 3.0em;
    margin: .3em 0;
}
h2 {
    font-size: 2.0em;
    margin: .2em 0;
}
h3 {
    font-size: 1.4em;
    margin: .1em 0;
}
h2, h3 {
    text-align: center;
}
p {
    font-size: 1em;
}
html {
    font-family: "Lato";
    font-size: 16px;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    flex-grow: 1;

    padding: 1em;

    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Reset Anchor Element */
a, a:hover, a:visited, a:focus, a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.linkButton {
    border-radius: 12px;
    padding: .8em;
    margin: 1em;
    background-color: rgb(84, 142, 227);
    
    color: white !important;
    font-family: "Plus Jakarta Sans";
    text-align: center;
    font-size: 1.2em;
    transition: all 0.1s ease-in-out;
}
.linkButton:hover {
    transform: scale(1.1);
    background-color: rgb(64, 122, 227);
}

/* Forms */
.dataForm {
    width: 600px;
    max-width: 100%;
    padding: 2em;
    background: rgb(230, 230, 230);
    border-radius: 2em;
    margin: 1em;

    display: flex;
    flex-flow: column;
    align-items: center;
}
.dataForm label {
    width: 100%;
    max-width: 400px;
    margin: .8em 0;

    font-size: 1em;
    text-align: left;
}
.dataForm input, .dataForm select {
    width: 100%;
    padding: 0.3em;
    border-radius: .4em;
    border: 2px solid black;

    font-size: 1.2em;
}
.submitButton {
    width: min-content;
    padding: 0.3em 1em;
    margin: .8em 0;
    background-color: rgb(100, 150, 100, 0.5);
    border: 2px solid black;
    border-radius: .5em;
    
    font-size: 1.2em;

    transition: all 0.1s ease-in-out;
}
.submitButton:hover {
    transform: scale(1.1);
}